@media only screen and (max-width: 1200px) {
    .header-container {
        max-width: 925px;
    }
    .intro-container {
        width: 925px;
    }
    .intro-title {
        font-size: 84px;
        line-height: 84px;
    }
    .intro-text {
        width: 620px;
        font-size: 18px;
        line-height: 20px;
    }

    .intro-left-arrow, .intro-right-arrow {
        width: 56px;
        height: 56px;
    }

    .intro-nav-arrows {
        top: calc(50% - 56px);
        left: calc(100% - 56px);
    }

    .promo-container {
        width: 925px;
        height: 160px;
    }

    .promo-text {
        font-size: 14px;
        line-height: 16px;
    }

    .services {
        height: 912px;
    }

    .services-container {
        width: 950px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;

    }

    .services-content {
        width: 100%;
    }

    .services h2 {
        text-align: center;
    }

    .services-content p {
        width: 608px;
    }

    .recent-work {
        height: 1033px;
    }

    .recent-container {
        width: 600px;
    }

    .recent-content {
        padding-top: 40px;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }

    .recent-unit {
        padding-top: 40px;
    }

    .video-block {
        height: 540px;
        padding-top: 50px;
    }

    .video-block-container {
        width: 925px;
    }

    .video-block-image img {
        width: 395px;
        height: 380px;
    }

    .text-content {
        padding-left: 40px;
        height: 380px;
    }

    .text-content > hr{
        margin: 0;
    }

    .latest-news {
        height: 1368px;
    }

    .latest-news-container {
        width: 925px;
    }

    .latest-news-content {
        column-count: 3;
    }

    .testimonial-container {
        width: 950px;
    }

    .testimonial-slide > blockquote {
        font-size: 32px;
        line-height: 37px;
    }

    .testimonial-slide > p {
        font-size: 20px;
        line-height: 22px;
    }

    .testimonial-pagination {
        padding-top: 80px;
    }

    .main-footer-container {
        width: 925px;
    }

    .copyright-container {
        width: 925px;
    }
}

@media only screen and (max-width: 1024px) {
    .intro-nav-arrows {
        top: calc(60% - 56px);
        left: calc(100% - 56px);
    }
}

@media only screen and (max-width: 768px) {
    .header-container {
        width: 650px;
    }

    .intro {
        height: 465px;
    }

    .intro-container {
        width: 650px;
        height: 465px;
    }

    .intro-title {
        font-size: 60px;
        line-height: 60px;
    }

    .intro-text {
        width: 587px;
        font-size: 18px;
        line-height: 20px;
    }

    .intro-nav-arrows {
        top: calc(50% - 56px);
    }

    .promo-container {
        width: 650px;
        height: 163px;
    }

    .promo-text {
        font-size: 16px;
        line-height: 18px;
    }

    .services {
        height: 1655px;
    }

    .services-container {
        width: 650px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .services-content hr {
        margin: 0 auto;
    }

    .services-items {
        height: 70%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 25%);
    }

    .recent-work {
        height: 2350px;
    }

    .recent-container {
        width: 650px;
    }

    .recent-content {
        padding-top: 40px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 1fr);
    }

    .recent-unit {
        padding-top: 40px;
    }

    .recent-image-links {
        width: 450px;
        height: 400px;
    }

    .recent-image {
        width: 480px;
    }

    .video-block {
        height: 1007px;
        padding-top: 20px;
    }

    .video-block-container {
        width: 650px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .video-block-image img {
        width: 520px;
        height: 478px;
    }

    .text-content {
        padding-left: 0;
        align-content: center;
        margin: 0 auto;
    }

    .text-content h2 {
        font-size: 36px;
        line-height: 36px;
        margin: 0 auto;
    }

    .text-content hr {
        margin: 0 auto;
    }

    .text-content p {
        font-size: 18px;
        line-height: 18px;
        margin: 0 auto;
    }

    .watch-video {
        margin: 0 auto;
    }

    .latest-news {
        height: 1745px;
    }

    .latest-news-container {
        width: 650px;
    }

    .latest-news-content {
        column-count: 2;
    }

    .testimonial-container {
        width: 650px;
    }

    .testimonial-slide > blockquote {
        font-size: 32px;
        line-height: 34px;
    }

    .testimonial-pagination {
        padding-top: 40px;
    }

    .main-footer-container {
        width: 650px;
        padding-top: 10px;
    }

    .main-footer-container > p {
        width: 100%;
    }

    .widgets {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2,50%);
        padding-top: 20px;
    }

    .copyright-container {
        width: 650px;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        height: 80px;
    }

    .header-container {
        width: 300px;
    }

    .intro {
        height: 193px;
    }

    .intro-container {
        width: 300px;
        height: 193px;
        margin: 0 auto;
    }

    .intro-title {
        font-size: 28px;
        line-height: 28px;
    }

    .intro-text {
        display: none;
    }

    .intro-nav-arrows {
        display: none;
    }

    .button-read-more {
        display: none;
    }

    .promo {
        height: 301px;
    }

    .promo-container {
        width: 300px;
        height: 301px;
        flex-direction: column;
        justify-content: space-around;
    }

    .promo-text {
        width: 300px;
        text-align: center;
    }

    .promo-text h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
    }

    .services {
        height: 2099px;
    }

    .services-container {
        width: 300px;
        padding: 0;
    }

    .services-container h3 {
        width: 300px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .services-container hr {
        margin: 0 auto;
    }

    .services-container p {
        width: 300px;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
    }

    .services-items {
        height: 80%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 1fr);
    }

    .recent-work {
        height: 1500px;
    }

    .recent-container {
        width: 300px;
        justify-content: center;
    }

    .recent-title h2{
        padding-top: 40px;
        font-size: 24px;
        line-height: 28px;
    }

    .recent-content {
        padding-top: 0;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
    }

    .video-block {
        height: 844px;
        padding-top: 20px;
    }

    .video-block-container {
        width: 300px;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        margin: 0 auto;
    }

    .video-block-image {
        margin: 0 auto;
    }

    .text-content {
        padding-left: 0;
        text-align: center;
        height: 482px;
    }

    .text-content h2 {
        font-size: 36px;
        line-height: 36px;
        text-align: center;
    }

    .text-content hr {
        margin: 0 auto;
    }

    .text-content p {
        font-size: 18px;
        line-height: 18px;
        text-align: center;
    }

    .watch-video {
        margin: 0 auto;
    }

    .latest-news {
        height: 2896px;
    }

    .latest-news-container {
        width: 300px;
    }

    .latest-news-title h2 {
        font-size: 36px;
        line-height: 36px;
        text-align: center;
    }

    .latest-news-title hr {
        margin: 10px auto;
    }

    .latest-news-content {
        column-count: 1;
    }

    .testimonial-container {
        width: 300px;
    }

    .testimonial-slide > blockquote {
        padding-top: 30px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 26px;
    }

    .testimonial-pagination {
        padding-top: 40px;
    }

    .main-footer {
        padding-top: 10px;
        height: 954px;
    }

    .main-footer-container {
        width: 300px;
    }

    .main-footer-container p {
        font-size: 20px;
        line-height: 22px;
        justify-content: center;
    }

    .social {
        border: none;
    }

    .widgets {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,25%);
        padding-top: 0;
        margin: 0 auto;
    }

    .widgets div {
        justify-content: center;
        font-size: 20px;
        line-height: 22px;
    }

    .widgets div h6 {
        justify-content: center;
    }

    .widgets div p {
        justify-content: center;
    }

    .copyright {
        height: 142px;
    }

    .copyright-container {
        width: 300px;
        justify-content: center;
    }
}